p {
  margin: 10px 0 !important;
}
table {
  margin-bottom: 20px;
}
.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}
.btn-float {
  float: left;
  margin-right: 10px;
}

.fa-small {
  font-size: 14px !important;
}
.autocomplete-content,
.dropdown-content {
}
